# home-assistant-ingress.yaml
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: home-assistant-ingress
  namespace: home-assistant
spec:
  ingressClassName: traefik  
  rules:
    - host: home.local
      http:
        paths:
          # Home Assistant 主服务
          - path: /
            pathType: Prefix
            backend:
              service:
                name: home-assistant
                port:
                  number: 8123

          # Frigate UI
          - path: /frigate
            pathType: Prefix
            backend:
              service:
                name: frigate
                port:
                  number: 5000

  tls:
    - hosts:
        - home.local
      secretName: home-tls-secret